<?xml version="1.0" encoding="UTF-8"?>
<!--
===========================================================================
Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
SPDX-License-Identifier: ISC
===========================================================================
-->

<config>
	<data type="ARCH">
		<SOC>ipq5210</SOC>
	</data>

	<data type="TINY_NOR_PARAMETER">
		<entry layout="default">
			<page_size>256</page_size>
			<pages_per_block>16</pages_per_block>
			<total_block>4096</total_block>
		</entry>
	</data>

	<data type="NOR_PARAMETER">
		<entry layout="default">
			<page_size>256</page_size>
			<pages_per_block>256</pages_per_block>
			<total_block>256</total_block>
		</entry>
	</data>

	<data type="NAND_PARAMETER">
		<entry type="2k" layout="default">
			<page_size>2048</page_size>
			<pages_per_block>64</pages_per_block>
			<total_block>2048</total_block>
		</entry>
		<entry type="4k" layout="default">
			<page_size>4096</page_size>
			<pages_per_block>64</pages_per_block>
			<total_block>1024</total_block>
		</entry>
		<entry type="2k" layout="128M">
			<page_size>2048</page_size>
			<pages_per_block>64</pages_per_block>
			<total_block>1024</total_block>
		</entry>
	</data>

	<data type="EMMC_PARAMETER">
		<entry layout="default">
			<entry physical_partition="0">
				<total_block>15269888</total_block>
				<partition_mbn>emmc_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>emmc_gpt_backup.bin</partition_mbn_backup>
			</entry>
		</entry>
		<entry layout="vendor">
			<entry physical_partition="0" gpt_type="user">
				<total_block>15269888</total_block>
				<partition_mbn>emmc_user_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>emmc_user_gpt_backup.bin</partition_mbn_backup>
			</entry>
			<entry physical_partition="1" gpt_type="boot0">
				<total_block>8192</total_block>
				<partition_mbn>emmc_boot_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>emmc_boot_gpt_backup.bin</partition_mbn_backup>
			</entry>
		</entry>
	</data>

	<data type="NORPLUSNAND_PARAMETER">
		<entry type="2k" layout="default">
			<page_size>256</page_size>
			<pages_per_block>256</pages_per_block>
			<total_block>256</total_block>
			<nand_page_size>2048</nand_page_size>
			<nand_pages_per_block>64</nand_pages_per_block>
			<nand_total_block>4096</nand_total_block>
		</entry>
		<entry type="4k" layout="default">
			<page_size>256</page_size>
			<pages_per_block>256</pages_per_block>
			<total_block>256</total_block>
			<nand_page_size>4096</nand_page_size>
			<nand_pages_per_block>64</nand_pages_per_block>
			<nand_total_block>4096</nand_total_block>
		</entry>
		<entry type="2k" layout="128M">
			<page_size>256</page_size>
			<pages_per_block>256</pages_per_block>
			<total_block>256</total_block>
			<nand_page_size>2048</nand_page_size>
			<nand_pages_per_block>64</nand_pages_per_block>
			<nand_total_block>1024</nand_total_block>
		</entry>
	</data>

	<data type="NORPLUSEMMC_PARAMETER">
		<entry layout="default">
			<entry physical_partition="0">
				<page_size>256</page_size>
				<page_size_flash>512</page_size_flash>
				<pages_per_block>256</pages_per_block>
				<total_block>256</total_block>
				<emmc_total_block>15269888</emmc_total_block>
				<partition_mbn>nemmc_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>nemmc_gpt_backup.bin</partition_mbn_backup>
			</entry>
		</entry>
	</data>

	<data type="NORPLUSNAND-GPT_PARAMETER">
		<entry type="2k" layout="default">
			<entry physical_partition="0">
				<total_block>4096</total_block>
				<partition_mbn>norplusnand_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>norplusnand_gpt_backup.bin</partition_mbn_backup>
			</entry>
		</entry>
		<entry type="4k" layout="default">
			<entry physical_partition="2">
				<total_block>4096</total_block>
				<partition_mbn>norplusnand_4k_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>norplusnand_4k_gpt_backup.bin</partition_mbn_backup>
			</entry>
		</entry>
		<entry type="2k" layout="128M">
			<entry physical_partition="3">
				<total_block>4096</total_block>
				<partition_mbn>norplusnand_128M_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>norplusnand_128M_gpt_backup.bin</partition_mbn_backup>
			</entry>
		</entry>
	</data>

	<data type="NORPLUSEMMC-GPT_PARAMETER">
		<entry layout="default">
			<entry physical_partition="1">
				<total_block>4096</total_block>
				<partition_mbn>norplusemmc_gpt_main.bin</partition_mbn>
				<partition_mbn_backup>norplusemmc_gpt_backup.bin</partition_mbn_backup>
			</entry>
		</entry>
	</data>

	<data type="BOOTLDR_COMPONENTS">
		<qclib>QCLib.mbn</qclib>
		<tfa_bl31>bl31.mbn</tfa_bl31>
		<optee>tee-raw.mbn</optee>
		<uboot flash="emmc" mode="32">openwrt-ipq5210-ipq52xx_32-mmc32-u-boot-UBOOT_DTB_NAME.mbn</uboot>
		<uboot flash="emmc" mode="64">openwrt-ipq5210-generic-mmc-u-boot-UBOOT_DTB_NAME.mbn</uboot>
		<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-nand32-u-boot-UBOOT_DTB_NAME.mbn</uboot>
		<uboot flash="nand,nand-4k" mode="64">openwrt-ipq5210-generic-nand-u-boot-UBOOT_DTB_NAME.mbn</uboot>
		<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-norplusnand32-u-boot-UBOOT_DTB_NAME.mbn</uboot>
		<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="64">openwrt-ipq5210-generic-norplusnand-u-boot-UBOOT_DTB_NAME.mbn</uboot>
		<uboot flash="norplusemmc" mode="32">openwrt-ipq5210-ipq52xx_32-norplusmmc32-u-boot-UBOOT_DTB_NAME.mbn</uboot>
		<uboot flash="norplusemmc" mode="64">openwrt-ipq5210-generic-norplusmmc-u-boot-UBOOT_DTB_NAME.mbn</uboot>
	</data>

	<data type="MACH_ID_BOARD_MAP">
		<entry>
			<machid>0xF060000</machid>
			<board>HM-EMU</board>
			<memory>512M16_DDR4</memory>
			<memory_2048>1024M16_DDR4</memory_2048>
			<layouts>default,vendor</layouts>
			<uboot_dtb_name>emulation</uboot_dtb_name>
			<kernel_dtb_name>emulation-fbc</kernel_dtb_name>
			<fw_override>
				<profile-2048 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-HM-EMU_1024M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-2048>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-HM-EMU_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-HM-EMU_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080000</machid>
			<board>RDP497</board>
			<memory_128>64M16_DDR3</memory_128>
			<layouts>default,vendor,128M</layouts>
			<fw_override>
				<profile-128 layouts="default,vendor,128M">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP497_64M16_DDR3_LM128.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp497.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp497.mbn</uboot>
					</bootldr_components>
				</profile-128>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080100</machid>
			<board>RDP498</board>
			<memory>512M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9224_v2_dualmac_squashfs.img" vol_size="7168KiB"/>
				<cal_fw image="WLAN_CALDB_qcn9224_v2_merged_compressed.img" vol_size="2MiB"/>
				<profile-256 layouts="default,vendor">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP498_512M16_DDR4_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp498.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp498.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP498_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP498_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080101</machid>
			<board>RDP500</board>
			<memory>512M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9224_v2_dualmac_squashfs.img" vol_size="7168KiB"/>
				<cal_fw image="WLAN_CALDB_qcn9224_v2_merged_compressed.img" vol_size="2MiB"/>
				<profile-256 layouts="default,vendor">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP500_512M16_DDR4_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp500.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp500.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP500_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP500_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080102</machid>
			<board>RDP501</board>
			<memory>512M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9224_v2_dualmac_squashfs.img" vol_size="7168KiB"/>
				<cal_fw image="WLAN_CALDB_qcn9224_v2_merged_compressed.img" vol_size="2MiB"/>
				<profile-256 layouts="default,vendor">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP501_512M16_DDR4_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp501.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp501.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP501_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP501_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080200</machid>
			<board>RDP499</board>
			<memory>512M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9625_squashfs.img" vol_size="7168KiB"/>
				<profile-256 layouts="default,vendor">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP499_512M16_DDR4_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp499.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp499.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP499_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP499_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080201</machid>
			<board>RDP502</board>
			<memory>512M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9625_squashfs.img" vol_size="7168KiB"/>
				<profile-256 layouts="default,vendor">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP502_512M16_DDR4_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp502.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp502.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP502_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP502_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080202</machid>
			<board>RDP503</board>
			<memory>512M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9625_squashfs.img" vol_size="7168KiB"/>
				<profile-256 layouts="default,vendor">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP503_512M16_DDR4_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp503.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp503.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP503_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP503_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080203</machid>
			<board>RDP504</board>
			<memory>512M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9625_squashfs.img" vol_size="7168KiB"/>
				<profile-256 layouts="default,vendor">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP504_512M16_DDR4_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp504.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp504.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP504_512M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP504_512M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080300</machid>
			<board>RDP505</board>
			<memory>256M16_DDR3</memory>
			<layouts>vendor,128M</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9625_squashfs.img" vol_size="7168KiB"/>
				<profile-256 layouts="vendor,128M">
					<bootldr_components>
						<optee>tee-raw_lm.mbn</optee>
						<qcconfig>qcconfig-RDP505_256M16_DDR3_LM256.elf</qcconfig>
						<uboot flash="nand,nand-4k" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_nand32-u-boot-rdp505.mbn</uboot>
						<uboot flash="norplusnand,norplusnand-gpt,norplusnand-4k,norplusnand-4k-gpt" mode="32">openwrt-ipq5210-ipq52xx_32-tiny_norplusnand32-u-boot-rdp505.mbn</uboot>
					</bootldr_components>
				</profile-256>
				<profile-512 layouts="vendor,128M">
					<bootldr_components>
						<qcconfig>qcconfig-RDP505_256M16_DDR3_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080400</machid>
			<board>RDP511</board>
			<memory>1024M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP511_1024M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP511_1024M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x8080401</machid>
			<board>RDP512</board>
			<memory>1024M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP512_1024M16_DDR4_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-RDP512_1024M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x1080000</machid>
			<board>DB-HM01.1</board>
			<memory>1024M16_DDR4</memory>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9625_squashfs.img" vol_size="7168KiB"/>
				<profile-default layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-DB-HM01.1_1024M16_DDR4.elf</qcconfig>
					</bootldr_components>
				</profile-default>
			</fw_override>
		</entry>
		<entry>
			<machid>0x1080100</machid>
			<board>DB-HM02.1</board>
			<memory_512>256M16_DDR3</memory_512>
			<layouts>default,vendor</layouts>
			<fw_override>
				<wifi_fw image="wifi_fw_qcn9625_squashfs.img" vol_size="7168KiB"/>
				<profile-512 layouts="default,vendor">
					<bootldr_components>
						<qcconfig>qcconfig-DB-HM02.1_256M16_DDR3_LM512.elf</qcconfig>
					</bootldr_components>
				</profile-512>
			</fw_override>
		</entry>
	</data>
</config>
